name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - '**'

jobs:
  build_and_deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Compose
      uses: docker/setup-buildx-action@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest
  
    - name: Deploy to VDS
      env:
        VDS_USER: ${{ secrets.VDS_USER }}
        VDS_PASSWORD: ${{ secrets.VDS_PASSWORD }}
        VDS_IP: ${{ secrets.VDS_IP }}
      run: |
        sudo apt-get update
        sudo apt-get install -y sshpass

        sshpass -p $VDS_PASSWORD ssh -o "StrictHostKeyChecking=no" $VDS_USER@$VDS_IP << 'EOF'
          git clone https://github.com/levchCode/answers-main.git
          cd answers-main
          docker compose up -d --build
        EOF

  test_only:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest
